.empty_file_func{
	width: 280;
	.func_name {
	}
	.with_statement{
		margin-left: 5%;
	}
}

.third-explain{
	margin-left: 385px;
}

.internal {
	margin-left: 10%
}

.vim-shortcut-explanation {
	font-size: 13px

}

.zxclipboardsave-vimshortcut-explanation {
	margin-left: 420px;
}

